
.card {
    background-color: #e4c5c5;
    border: 1px solid #d51313;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 230px;
    margin: auto;
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-name {
    font-size: 1.1em;
    margin: 10px 0;
    color: #bf1212;
  }
  
  .card-quote {
    font-size: 1em;
    margin: 10px 20px;
    color: #0c0c0c;
  }
  .card-p{
    font-size: 1em;
    margin: 10px 20px;
    color: #191818;
  }
  p.card-status {
    font-size: 1em;
    margin: 10px 20px;
    color: #191818;
  }
  p.card-species{
    font-size: 1em;
    margin: 10px 20px;
    color: #191818;
  }
  p.card-gender{
    font-size: 1em;
    margin: 10px 20px;
    color: #191818;
  }
  p.card-origin{
    font-size: 1em;
    margin: 10px 20px;
    color: #191818;
  }